<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="ontrack-plugin"
    version="1.0.0">
    <name>Ontrack Plugin</name>
    <description></description>
    <license></license>
    <keywords></keywords>
    <repo></repo>
    <issue></issue>

    <!-- android -->
    <platform name="android">
      <js-module src="www/plugin.js" name="plugin">
        <runs/>

        <!-- This is the window variable name you want, like window.MyCordovaPlugin -->
        <clobbers target="OntrackPlugin" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="MyCordovaPlugin">
          <param name="android-package" value="com.example.MyCordovaPlugin" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <source-file src="src/android/com/example/MyCordovaPlugin.java" target-dir="src/com/example/" />
       <source-file src="src/android/com/example/Constante.java" target-dir="src/com/example/" />
     <source-file src="src/android/com/example/Util.java" target-dir="src/com/example/" />
     
     <lib-file src="src/android/lib/bcprov.jar"  />
     <lib-file src="src/android/lib/aspose.jar"  />
    </platform>

   
</plugin>
